@media only screen and (max-width: 600px) {
    body{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 0;
        padding: 0;
    }
    input{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    a{
        text-decoration: none;
    }
    h1{
        margin: 0 auto 10px;
        text-align: left;
        width: 90%;
        font-size: 3em;
        color: #4a4e5d;
    }
    .clear{
        clear: both;
    }
    #content{
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;
    }
    #wrapper{
        flex: 0 0 200%;
        align-self: stretch;
        display: flex;
        flex-direction: row;
    }
    #wrapper.extend{
        align-self: flex-start;
    }
    #searchBg{
        position: absolute;
        top: 0;
        left: 0;    
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top left;
        background-color: rgb(36, 40, 43);
        z-index: 0;
        opacity: 0;
        transition: opacity .5s;
        transition-delay: 1.6s;
        transition-timing-function: ease-in;
        filter: grayscale(100%);
    }
    #searchBg.show{
        opacity: .9;
    }
    #searchBg.hide{
        opacity: 0;
        transition-delay: 0s;
    }
    #searchBg::after{
        transition: background-color .3s;        
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(36, 40, 43, 0.8);
    }
    #search{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 0;
        transition: left 1.6s;
        transition-delay: .4s;
        transition-timing-function: ease-in;
    }
    #search.hide{
        left: -50%;
    }
    #search.show{
        left: 0;
        transition-delay: .4s;
    }
    #searchBox{
        transition: transform .4s, filter .4s;
        flex: 100%;
    }
    #searchBox.hide{
        transform: scale(.8);
        filter: blur(2px);
    }
    #searchBox.show{
        transform: scale(1);
        filter: blur(0);
        transition-delay: 2s;
    }
    #searchForm{
        position: relative;
    }
    #searchForm form{
        width: 90%;
        margin: auto;
        text-align: left;
        position: relative;
    }
    #searchForm label{
        top: 0;
        left: 0;
        transition: top .3s;
        display: block;
        position:absolute;
        background-color: #ffe66d;
        color: #444;
        padding: 10px;
        font-size: 1.4em;
        transition-timing-function: ease-out;
        text-align: center;
        z-index: 0;
        width: 120px;
    }
    #searchForm label.show{
        top: 48px;
    }
    input[type='text']{
        width: 100%;
        text-align: left;
        padding: 10px;
        border: solid 1px #fff;
        color: #999;
        display: inline-block;
        font-size: 1.4em;
        z-index: 1;
        position: relative;
    }
    input[type='text']:focus{
        background-color: #f5f5f5;
        color: #444;
        outline: none;
    }
    input[type='submit']{
        display: none;
    }    
    #msg{
        width: 100%;
        top: -48px;
        transition: top .2s;
        padding: 10px 0;
        color: #999;
        font-size: .7em;
        text-align: right;
        position: relative;
        z-index: 0;
        transition-timing-function: ease-in;
        margin: auto;
    }
    #msg.show{
        top: 0;
    }
    #error{
        color: red;
    }
    #searchResult{
        flex: 1;
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        transition: left 1.6s;
        transition-delay: .2s;
        transition-timing-function: ease-in;
        vertical-align: top;
    }
    #searchResult.show{
        left: -50%;
        overflow-y: scroll;
     }
     #searchResult.hide{
         left: 0;
         transition-delay: .5s;
     }
     #results{
        width:100%;
        transition: transform .4s, filter .4s, background-color .4s;
        padding: 10% 0;
    }
    #results.hide{
        transform: scale(.8);
        filter: blur(2px);        
        /*background-color: rgb(36, 40, 43, 0);*/
    }
    #results.show{
        transform: scale(1);
        filter: blur(0);
        /*background-color: rgb(36, 40, 43, 0.8);*/
        transition-delay: 1.7s;
    }
    #movieInfo{
        display: block;
        width: 80%;
        margin: auto;
        text-align: center;
        z-index: 1;
    }
    #movieInfo h2{
        position: relative;
        top: 0;
        text-align: center;
        background-color: #000;
        color: #ffbf00;
        margin: 0;
        padding: 10px;
    }
    #moviePoster img{
        width: 100%;
    }
    #actors{
        display: block;
        width: 80%;
        margin: auto;
        z-index: 1;
        position: relative;
    }
    .actor{
        width: 50%;
        display: inline-block;
        position: relative;
        height: 200px;
        overflow: hidden;
    }
    .name{
        font-size: .8em;
        font-weight: bold;
        position:relative;
        left: 0;
        top: -23px;
        text-align: left;
        background-color: #ff7800;
        color: #000;
        padding: 10px;
        transition: top .2s;
        transition-timing-function: ease-in;
    }
    .age{
        font-size: 1.2em;
        font-weight: bold;
        position:relative;
        left: 0;
        top: -33px;
        text-align: left;
        background-color: #ffbf00;
        color: #000;
        display: inline;
        padding: 10px;
        transition: top .3s;
        transition-timing-function: ease-in;
    }   
    #back{
        top: -50px;
        left: 0;
        height: 50px;
        width: 100%;
        transition: top .2s;
        transition-delay: 2.2s;
        position: absolute;
        display: grid;
        place-items: center;
        color: #fff;
        z-index: 1000;
    }
    #back::after{
        transition: background-color .3s, top .3s, height .3s;        
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        background-image: url(/arrow.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-color: #dc143c;
    }
    #back:hover::after, #back:focus::after{    
        background-color: #b3143c;
        height: 60px;
        left: 0;
    }
    #back.show{
        top: 0;
    }
    #back.hide{
        top: -60px;
        left: 0;
        transition-delay: 0s;
    }
    #footer{
        position: absolute;
        bottom: 0;
        width: 50%;
        font-size: .7em;
        text-align: center;
        transition: color .5s;
        transition-delay: 2.5s;
    }
    #footer a{
        transition: color .5s;
        transition-delay: 2.5s;
    }
    
    #footer.light, #footer.light a, #footer.light a:visited{
        color: #c7c7c7;
    }
    #footer.dark, #footer.dark a, #footer.dark a:visited{
        color: #555;
    }
}