@media only screen and (min-width: 992px) {

h1{    
    text-align: center;
}
#searchBox{    
    width: 50%;
    align-self: center;
}

#searchForm{
    overflow: hidden;
}
#searchForm form{
    text-align: center;
}
#searchForm label{
    position: relative;
    right: -150px;
    transition: right .3s;
}
#searchForm label.show{
    right: 0px;
}
input[type='text']{
    width: 400px;
}


#results{
    width: 870px;
}

#searchBg{
    height: 100%;
}

#movieInfo{
    display: inline-block;
    vertical-align: top;
    width: 270px;
}
#movieInfo h2{
    position: absolute;
    top: -49px;
}
#actors{
    display: inline-block;
    width: 600px;
}
.actor{    
    width: 200px;
}
#msg{
    top: -33px;
    width: 520px;
    padding: 10px;
}
#back{
    top: 0;
    left: -100px;
    height: 100%;
    width: 100px;
    transition: left .2s;
    transition-delay: 2.2s;
}
#back::after{
    transition: background-color .3s, left .3s;
}
#back:hover::after{    
    height: 0;
    left: -10px;
}
#back.show{
    left: 0;
}
#back.hide{
    left: -100px;
    top: 0;
    transition-delay: 0s;
}
#footer{
    position: absolute;
    bottom: 15px;
}


}